<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Config"
		providerName="System.Data.SqlClient"
		connectionString="Server = USERPC;
        Database = CW2;
        Integrated Security=true;
        Encrypt = True;
        TrustServerCertificate = true;"/>
	</connectionStrings>
</configuration>